<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="./style.css">
    <script src="./js/login.js"></script>
    <title>What the Func</title>
</head>
<body>
    <div class="header">
        <h1>What the Func?!</h1>
    </div>
    <div class="wrapper">
        <div class="content">
            <div class="line">
                <div class="block">
                </div>
            </div>
            <form action="/sound" method="get">
                <div class="line">
                    <div class="block">
                        <label for="player_name">Player Name:</label>
                    </div>
                    <div class="block">
                        <input type="text" name="player_name" id="player_name">
                    </div>
                </div>
                <button type="submit" class="btn" id="submit">Submit</button> 
            </form>
        </div>
    </div>
</body>
</html>